.bottles{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
@media (max-width: 640px) { 
    .bottles{
        display: flex;
        flex-direction: column;
        
        
      
    }
 }